
.message
{
  font-family: Loster;
  color:rgb(134, 174, 238);
  font-size: 20px;
}

#image{
  margin: 0 auto;
  float: none;
}

*{
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

footer{
  position: relative;
  height:90%;
}

#box{
  width:600px;
  height:120px;
  background-color: rgba(172, 255, 47, 0.829);
}

#searchbtn{
  background-color:navy;
  width:50%;
  border-radius:5px;
}

#searchbox{
  width: 100%;
  border-radius:5px;
  color:navy;
}